.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

.button {
    background-color: #e84343;
    border: none;
    border-radius: 4px;
    width: 560px;
    height: 65px;
    color: white;
    margin-top: 24px;
  }