.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 95px;
}

.button {
  background-color: #16a3b7;
  border: none;
  border-radius: 4px;
  width: 370px;
  height: 65px;
  color: white;
}
